#contentbody {
  padding-top: 10%;
  font-size: 1.2em;
}

#mainimage {
  padding-right: 10%
}

#content {
  padding-left: 10%
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 5%
}

#content h1 {
  color: ;
  font-family: 'Pacifico', cursive;
}

#contacts {
  text-align: right;
  font-size: 1.2em;
}

hr {
 /*make this blue and shorter*/
}